html { 
    box-sizing: 
    border-box;
    }
     
    *, *::before, *::after {
     
    box-sizing: inherit;
     
    }
     
    html, body {
     
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
     
    }
     
    body { background: #ffffff url('../img/geometry2.png');
     
    /* Background from Subtle Patterns */
     
    font-family: 'Coda', cursive;
     
    }
    .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
     
    }
     
    h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
     
    }
     
     
     
    /*
     
    * Styles for cards
     
    */
     
     
    .deck {
    width: 660px;
    min-height: 680px;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
    }
     
    .deck .card {
    height: 125px;
    width: 125px;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
    }
     
    .deck .card.open {
     
    transform: rotateY(0);
    background: #02b3e4;
    cursor: default;
    }
    .deck .card.show {
    font-size: 33px;
     
    }
     
    .deck .card.match {
     
    cursor: default;
     
    background: #02ccba;
    font-size: 33px;
    }
     
    .deck .card.unmatched {
        background: #e2043b;
    }
     
    .deck .card.disabled {
        pointer-events: none;
        opacity: 0.9;
    }
    /* Styles for score Panel
     
    */
    .score-panel {
    text-align: left;
    width: 345px;
    margin-bottom: 10px;
    }
     
    .score-panel .stars {
     
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
    }
    .score-panel .stars li {
    list-style: none;
    display: inline-block;
     
    }
    .score-panel .restart {
    float: right;
    cursor: pointer;
     
    }
     
    .fa-star {
        color: #FFD700;
    }
    .timer {
        display: inline-block;
        margin: 0 3px 0 0;
    }
    /*styles for modal popup*/
     
    .overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.438);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
    }
    .overlay:target {
        visibility: visible;
        opacity: 1;
    }
    .popup {
    position: relative;
    width: 400px;
    top: 50%;
    left: 50%;
    background: #ffffff;
    transition: all 5s ease-in-out;
    font-family: 'Tahoma', cursive;
    }
     
    .popup h2 {
        margin-top: 0;
        color: #333;
        font-family: Tahoma, Arial, sans-serif;
    }
    .popup .close {
        position: absolute;
        top: 20px;
        right: 30px;
        transition: all 200ms;
        font-size: 30px;
        font-weight: bold;
        text-decoration: none;
        color: #333;
    }
     
    .popup .close:hover {
        color: #E5F720;
    }
     
    .popup .modal_message1, .modal_message2 {
        max-height: 30%;
        overflow: auto;
        text-align: center;
    }
     
    .show {
        visibility: visible !important;
        opacity: 100 !important;
    }
     
    #starRating li {
        display: inline-block;
    }
     
    #replay_game {
     
    background-color: #02ccba;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
     
    }